.header, .hero, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
}

.middle {
    color: #1F2937;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    margin-top: 40px;
    padding: 70px 350px;
}

.bottom {
    background-color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}

.awesome, .subtext, .hero-btn {
    margin-bottom: 16px;
}

.hero-image {
    height: 250px;
    weight: auto;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}

.containers {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.info {
    max-width: 275px;
}

.succs {
    max-width: 175px;
    height: auto;
    margin: 20px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    font-weight:lighter;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

.btn, .footer-sign-up{
    background-color: #3882F6;
    padding: 15px 25px;
    text-align: center;
    max-width: 54px;
    border-radius: 10%;
}

.footer-sign-up {
    border: #E5E7EB;
    border-style: solid;
}

.bottom {
    height: 100px;
    width: auto;
}

.action-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F9FAF8;
    height: 80px;
}

.action {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 8px;
}

ul {
    list-style: none;
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 16px;
}